@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    font-family: "Lilita One", "Arial", sans-serif;
}
*
{
  margin: 0;
  padding: 0;
}

body{
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.pop-up-container{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
}

.open{
    display: block;
}

.pop-up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3dec1;
  border-radius: 5px;
  padding: 40px;
}


.pop-up-title{
  font-size: 40px;
}

.container{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3dec1;
    border-radius: 10px;
    padding: 20px;
}

.title{
    letter-spacing: 5px;
    font-size: 35px;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 40px 0;
    border: solid 1px black;
    cursor: url('../img/молоток.png') 2 2, pointer;
}

.cell{
    width: 98px;
    height: 98px;
    border: solid 1px black;
}

.goblin{
    height: 98px;
    width: 98px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/goblin.png');
}


.results{
    display: flex;
    font-size: 25px;
    padding: 0 45px;
}

.misses {
    padding: 0 15px;
}

.hits {
    padding: 0 15px;
}

